.loader {
  position: fixed;
  width: 100%;
  left: 0; top: 0;
  z-index: 1000;
  
  div {
    position: absolute;
    width: 100%;
    left: 0; top: 0;
    height: 2px;
    background-color: #00C9FC;
    transition: transform 200ms ease-in-out; 
    transform: translateX(-100%);
  }
}
