.loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000; }
  .loader div {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 2px;
    background-color: #00C9FC;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

