.loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 0;
  z-index: 1000; }

.loader__inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 2px;
  color: inherit;
  background-color: currentColor;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%); }

